<h1>Beer-O-Crat</h1>

<h3>Upcoming Beers</h3>
<ul class="upcoming-beers">
	<li class="beer">
		<span class="name">Fat Tire</span>
		<span class="brewery">SweetWater</span>
		<span class="requested-by">Ian Culling</span>
	</li>
</ul>

<div class="current-beer">
	<h2>Current Beer</h2>

	<span class="name">420</span>
	<span class="brewery">SweetWater</span>
	<span class="origin">USA - Georgia - Atlanta</span>

	<dl class="details">
		<dt>Website</dt>
		<dd><a href="http://sweetwaterbrewery.com">SweetWater 420</a></dd>

		<dt>Alcohol %</dt>
		<dd>5.5</dd>

		<dt>Requested by</dt>
		<dd>Steve Harman</dd>

		<dt>On tap since</dt>
		<dd>2/12/2011</dd>
	</dl>
</div>

<h3>Past Beers</h3>
<ul class="past-beers">
	<li class="beer">
		<span class="name">Fat Tire</span>
		<span class="emptied_by">Dan Lash</span>
		<span class="date_emptied">2011-02-17</span>
	</li>
</ul>